#container {
    color:black;
    background-color: olivedrab;
    
    
}

h1:hover{
    color:blue;
    text-align: center;
  

    
    
}
.sidebar{
    color:black;
    border:none;
    padding-top:1px;
    float:left;
    height:200px;
    width:200px;
}
h2:hover{
    color:orange;
    transition:font-size 0.3s ease;
    
}


#obj{
    float:left;
    margin-top: -70px;
}

h3:hover{
    color:orange;
    transition:font-size 0.3s ease;
    
}
#text{
    font-size:15px;
}
table{
    border:solid;
    margin-top: 150px;
    margin-left:100px;
} 
